<?xml version="1.0"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    web.config değişikliklerinin açıklaması için http://go.microsoft.com/fwlink/?LinkId=235367 adresini inceleyin.

    Aşağıdaki öznitelikler <httpRuntime> etiket üzerinde ayarlanabilir.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.0.3"/>
  </system.web>
</configuration>
<!--ProjectGuid: b4af726f-654a-4c25-9707-af94b40608cb-->